body {

    background-image: url("background.png");

    background-color: #cccccc;

   }

   .padding {

       padding-top: 15rem;

       }

.color {

    color: blueviolet;

}

#button {

    background-color: blueviolet;

    border-radius: 5px;

    border: 2px solid blueviolet;

    text-decoration: none !important;

}